.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /**/
  background-image: url('../images/romantic-background.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;  /* This ensures the <body> element covers the full viewport height */
  width: 100vw;   /* This ensures the <body> element covers the full viewport width */
  margin: 0;      /* Removes default margin provided by browsers */
  padding: 0;     /* Removes default padding provided by browsers */
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}

img {
  height: 20vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  img {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/* Keyframes for logo spin animation */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
